.task-item {
    border-bottom: thin solid;
    border-bottom-color: var(--hover-color);
    padding: .75rem 0 .75rem 1rem;
    font-size: 1.25rem;
    display: flex;
}

.task-item:hover {
    background-color: var(--hover-color);
}

.task-button {
    display: none;
    height: 100%;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.task-button .fa {
    padding-right: .25rem;
}

.task-button-separator {
    display: none;
}

.task-button:hover {
    cursor: pointer;
}

.task-button:hover .task-button-text {
    text-decoration: underline;
}

.task-item:hover .task-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.task-item:hover .task-button-separator {
    display: inline-block;
    align-self: center;
}

.task-list {
    font-size: 1.15em;
} 

.action-links {
    display: flex;  
    flex-direction: row;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

.task-content {
    font-size: 1.6rem;
}