.task-item {
    border-bottom: thin solid;
    border-bottom-color: var(--hover-color);
    padding: .75rem 0 .75rem 1rem;
    font-size: 1.25rem;
    display: flex;
}

.task-item:hover {
    background-color: var(--hover-color);
}

.task-button {
    display: none;
}

.task-button .fa {
    padding-right: .25rem;
}

.task-button-separator {
    display: none;
}

.task-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task-item:hover .task-button, .task-item:hover .task-button-separator {
    display: inline-block;
    flex: 1;
    align-self: center;
}

 .task-list {
    font-size: 1.15em;
} 

.action-links {
    flex-direction: row;
    font-size: 1.6rem;
}

.task-content {
    font-size: 1.6rem;
}