.task-item:first-child {
    font-size: 1.75rem;
}

.task-item {
    border-bottom: thin solid gray;
    padding: .5em 0 0 .5em;
    font-size: 1.25rem;
    display: flex;
}

.task-item:hover {
    background-color: var(--hover-color);
}

.task-focus-button {
    display: none;
}

.task-focus-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task-item:hover .task-focus-button {
    display: block;
    align-self: center;
}

 .task-list {
    font-size: 1.15em;
    margin: 0 0 0 1em;
} 