<template class="task-list">
    <require from="./task-list.css"></require>
    <require from="../../../value-converters/due-date-value-converter"></require>
        <div class="task-item pure-g" repeat.for="task of tasks" model.bind="task">
            <div class="pure-u-4-5">
                <div class="task-content">${task.content}</div>
                <div class="task-due-date">${task.due_date_utc | dueDate: 'dddd, hA'}</div>
            </div>
            <div class="pure-u-1-5 center-align-child">
                <a class="task-focus-button">Focus</a>
            </div>
        </div>
</template>