:root {
    --background-color: rgba(30, 30, 30, 1);
    --text-color: rgba(197, 197, 197, 1);
    --hover-color: rgba(42, 45, 46, 1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    flex-basis: 560px;
}

input {
    color: var(--background-color);
}

router-view {
    display: flex;
    justify-content: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.settings-link {
    position: fixed;
    top: 1em;
    right: 1em;
}

.home-link {
    position: fixed;
    top: 1em;
    right: 1em;
}

.activate {
    display: flex;
    flex-direction: column;
}

.center-align-child {
    display: flex;
    align-items: center;
}