.pomodoro {
    top: 35%;
    position: absolute;
}

.session-content  {
    font-size: 3rem;
}

.session-task-text {
    color: var(--primary-action-color);
    font-weight: bold;
}

.session-time-remaining, .session-info {
    font-size: 2rem;
}

.session-pomodoro, .session-break {
    text-align: center;
}